* {
	border-radius: 0 !important;
}
body {
	overflow-x: hidden;
	overflow-y: auto;
}

.app-container {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.banner {
	width: 100p%;
	height: 50px;
	border-bottom: 3px solid #0762D3;
	margin-bottom: 5px;
}

.side-menu {
	width: 230px;
	height: 100%;
	float: left;
	position: absolute;
}

.menu-list {
	margin: 5px;
	padding: 5px;
	background-color: #DCE0E1;
	cursor: pointer;
}

.content {
	width: calc(100% - 230px);
	height: 100%;
	float: left;
	margin-left: 230px;
}

.section {
	padding: 5px 20px;
	padding-bottom: 0;
}

.section-title {
	font-size: 20px;
	font-weight: bold;
	background-color: #339ED7;
	padding: 10px;
	margin-bottom: 10px;
}

.list {
	border: 1px solid #000;
	margin: 5px 0;
	padding: 10px;
}
.ta-toolbar {
	background-color: #F0F0F0;
	padding: 5px 5px 5px;
	margin-left: 0px;
	border: 1px solid #EEE;
}

.ta-toolbar .btn-group {
    margin-bottom: 5px;
}

.ta-scroll-window.form-control {
	margin-top: 10px;
}

.login-panel {
	position: absolute;
	top: calc(50% - 200px);
	left: calc(50% - 145px);
	height: auto;
	width: auto;
	min-width: 290px;
}

.select-job {
	height: 30px;
	width: 200px;
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 1px solid black;
}

.user-lgn, .pass-lgn {
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 1px solid black;
	width: auto;
}

.app-input {
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 1px solid black;
	width: 200px;
}

.grid {
	float: left;
}

.app-label {
	width: 110px;
}

.req-content {
		width: 700px;
		margin-left: 15px;
}

.app-form {
		width: 430px;
		margin-left: 10px;
}
/*hide arrow on input type number*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

@media screen and (max-width: 980px){
	.app-label {
		width: 80px;
	}
	
	.req-content {
		width: 340px;
		margin-left: 15px;
	}

	.app-form {
		width: 370px;
		margin-left: 10px;
	}
	input[name="file"] {
		width: 250px;
	}
}