<div>
	<div class="section">
		<div class="section-title"><i class="fa fa-calendar"></i> Shown Date</div>
		<table style="margin-bottom: 5px;">
			<tr>
				<td width="75px;">Min Date</td>
				<td><input ng-model="config.min_date" type="date"></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>Max Date</td>
				<td><input ng-model="config.max_date" type="date"></td>
			</tr>
		</table>
	</div>
	<div class="section">
		<div class="section-title"><i class="fa fa-clipboard"></i> Content</div>
		<div>
			<div text-angular ng-model="config.text"></div>
		</div>
		<!--<div>
			<span>Manual Show Toggle</span>
		</div>-->
	</div>
	<div class="section">
		<div class="section-title">
			<button ng-click="save()"><i class="fa fa-save fa-lg"></i> SAVE</button>
		</div>
	</div>
</div>