<div>
	<div class="section">
		<div class="section-title">Job</div>
		<div>
			<button>Tambah</button>
		</div>
		<div ng-repeat="job in job.new" class="list">
			<div ng-show="job.job_id">
				<div ng-click="jobDetail = !jobDetail">
					<span ng-show="!editJob">{{job.job_name}}</span>
					<input ng-show="editJob" ng-model="job.job_name">
				</div>
				<button ng-click="editJob = true" ng-show="!editJob">EDIT</button>
				<button ng-click="updateJob(job.job_id)" ng-show="editJob">UPDATE</button>
				<button ng-click="editJob = false" ng-show="editJob">CANCEL</button>
			</div>
			<div ng-show="jobDetail">
				<div ng-show="!editJob" ng-bind-html="job.job_req"></div>
				<div text-angular ng-model="job.job_req" ng-show="editJob"></div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="section-title">Registree</div>
		<div ng-repeat="value in registree" class="list">
			<div ng-click="detail = !detail">
				<span>{{value.name}}</span>
				<span>{{value.ktp}}</span>
				<span>{{value.job}}</span>
			</div>
			<div ng-show="detail">
				<div>
					<span>Alamat</span>
					<span>{{value.address}}</span>
				</div>
				<div>
					<span>No. Telp</span>
					<span>{{value.phone}}</span>
				</div>
				<div>
					<span>Email</span>
					<span>{{value.email}}</span>
				</div>
				<div>
					<span>File</span>
					<span>{{value.file}}</span>
					<a href="http://localhost/ajs-career/adm/content/{{value.file}}">Download</a>
				</div>
			</div>
		</div>
	</div>
</div>